In [29]:
123

123

In [30]:
type(123)

int

In [31]:
123.45

123.45

In [32]:
type(123.45)

float

In [33]:
'123.45'

'123.45'

In [34]:
type('123.45')

str

In [35]:
sign_up = True
print(type(sign_up))

<class 'bool'>

In [4]:
x = 123
y = 123.45
z = '123.45'
print(x,y,z)
print(type(x),type(y),type(z))

123 123.45 123.45
<class 'int'> <class 'float'> <class 'str'>

In [3]:
x = 123
y = 123.45
z = 'The result of ' + str(x) + '+' + str(y) + ' = ' + str(x+y)
print(type(str(y)))
print(z)

<class 'str'>
The result of 123+123.45 = 246.45

In [1]:
z = 'I am from CUC.'
print(z[0:4])

I am

In [2]:
print(z[0:6])

I am f

In [3]:
print(z[-3:])

UC.

In [4]:
print(len(z))
print(z[0:13])
print(z[-2:])
print(z[10:13])

14
I am from CUC
C.
CUC

In [5]:
famous_person = 'Princess Diana'
print(famous_person)
famous_person2 = famous_person.replace('Diana','Kate')
print(famous_person,famous_person2)
print(famous_person.split())

Princess Diana
Princess Diana Princess Kate
['Princess', 'Diana']

In [6]:
name = 'Princess Charles'
print(name)
name = name.replace('Charles','William')
name = name.upper()
print(name)
print

Princess Charles
PRINCESS WILLIAM

In [7]:
x = 3.14
y = str(x)
z1 = float(y)
print(z1)
z2 = int(y[0:y.find('.')])

3.14

In [8]:
print(z2)
print(type(z1))
print(type(z2))

3
<class 'float'>
<class 'int'>

In [1]:
tuple1 = (1,1.32,2,'CUC')
print(tuple1)
list1 = [1,1.32,2,'CUC']
print(list1)

(1, 1.32, 2, 'CUC')
[1, 1.32, 2, 'CUC']

In [2]:
myList = [1,2,3,5,4]
print(sorted(myList))

[1, 2, 3, 4, 5]

In [9]:
score_list = [100,95,88,60,65,70]
print(score_list)
print(score_list[3])
score_list.append(50)
print(score_list)

[100, 95, 88, 60, 65, 70]
60
[100, 95, 88, 60, 65, 70, 50]

In [10]:
del(score_list[6])
print(score_list[3:7])
print(score_list)

[60, 65, 70]
[100, 95, 88, 60, 65, 70]

In [11]:
score_list.append([1,2,3,'I am from CUC',True])
print(score_list)

[100, 95, 88, 60, 65, 70, [1, 2, 3, 'I am from CUC', True]]

In [12]:
second_list = [11,22,33]
second_list.append([44,55,66])
score_list.append(second_list)
print(score_list)

[100, 95, 88, 60, 65, 70, [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]]]

In [13]:
score_list.remove(100)
print(score_list)

[95, 88, 60, 65, 70, [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]]]

In [14]:
dict1 = {'Peter':80,'David':90,'Mary':100}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1['David'])
score_list = []
score_list.append(dict1)
print(score_list)

{'Peter': 80, 'David': 90, 'Mary': 100}
dict_keys(['Peter', 'David', 'Mary'])
dict_values([80, 90, 100])
90
[{'Peter': 80, 'David': 90, 'Mary': 100}]

In [15]:
test1 = {'Peter':50,'David':60,'Mary':70}
assignment1 = {'Peter':50,'David':70,'Mary':80}
score_list = []
score_list.append(test1)
score_list.append(assignment1)
print(score_list)

[{'Peter': 50, 'David': 60, 'Mary': 70}, {'Peter': 50, 'David': 70, 'Mary': 80}]

In [17]:
my_set = {1,'Hello',(1,2,3)}
print(my_set)
print(type(my_set))

{1, 'Hello', (1, 2, 3)}
<class 'set'>

In [18]:
my_set = {1,2,2,3,4,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [19]:
i = 1
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [21]:
hrs_list = [30,40,50,60]
rate_list = [65,75,65,75]
name_list = ['John','Mike','Mary','Jane']
fee_list = []
for number in range(len(name_list)):
    hrs = hrs_list[number]
    rate = rate_list[number]
    fee = hrs*rate
    fee_list.append(fee)
    money_made = name_list[number] + ' make ' + str(fee) + '.'
    print(money_made)

John make 1950.
Mike make 3000.
Mary make 3250.
Jane make 4500.

In [23]:
my_list = ['red','green','blue','orange','black']
index  = 0
for i in my_list:
    if i == 'blue':
        print(index,'Blue is printed.')
        index+=1
    else:
        print(index,my_list[index])
        index = index + 1
print('This is done.')

0 red
1 green
2 Blue is printed.
3 orange
4 black
This is done.

In [28]:
import pandas as pd
df1 = pd.DataFrame({
    #Define dataframe as a dictionary object
    'Product ID':[1,2,3,4],
    #Add product name and color
    'Product Name':['T_shirt','Shirt','Jeans','Coat'],
    'Color':['Blue','Green','Red','Trench'],
    'Units sold':[250,300,180,200]
})
print(df1)

   Product ID Product Name   Color  Units sold
0           1      T_shirt    Blue         250
1           2        Shirt   Green         300
2           3        Jeans     Red         180
3           4         Coat  Trench         200